body {
    background-color: black; /* Color base del fondo */
    background-image: url('space.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Escalar la imagen para que cubra toda la pantalla */
    background-attachment: fixed; /* Fijar el fondo */
    color: white; /* Texto blanco para destacar */
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#gameCanvas {
    border: 2px solid white;
    background-color: rgba(0, 0, b0, 0.8); /* Color de fondo diferenciado para el canvas */
    display: block;
    margin: 20px auto;
    width: 800px; /* Tamaño fijo */
    height: 600px; /* Tamaño fijo */
}

.score-container {
    text-align: center;
    margin-bottom: 20px;
}

.game-buttons {
    width: 150px; /* Botones de tamaño fijo */
    font-size: 1.2em;
    margin: 20px auto;
}

/* Diseño responsivo para los botones */
@media (max-width: 768px) {
    .game-buttons {
        width: 100%; /* Botones más anchos en pantallas pequeñas */
    }
}
